<!-- footer -->
    <footer class="page-footer">
        <p>© 2019 CBS Korean Business Association</p>
        <div class="ext-link">
            <a class="instagram-link" href="https://www.instagram.com/koreanbiz_cbs/"><i class="fab fa-instagram" style="font-size: 25px; color: white;" target="_blank"></i></a>
            <a class="facebook-link" href="https://www.facebook.com/groups/ColumbiaKBA/" style="font-size: 25px; color:  white;" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
    </footer>